.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
  border-radius: 20px;
  padding-block: 20px;
  padding-inline: 25px;
  background-color: bisque;

  width: 257px;
}
.backButton {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ada3a3;
  border: 1px solid yellowgreen;
}
.movieDetails {
  font-family: Roboto, sans-serif;
  width: 100%;
  font-weight: 800;
  font-size: 0.95em;
  margin-bottom: 10px;
}
.buttonContainer {
  width: 100%;
}
.title {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.img {
  width: 185.4px;
  height: 271px;
}
.imgcontainer {
  margin-left: 50px;
}
